
package genconfig

configuration conf {
	@Runlevel(0) include embox.arch.ppc.kernel.boot
	@Runlevel(0) include embox.arch.ppc.kernel.context
	@Runlevel(0) include embox.arch.ppc.kernel.locore
	@Runlevel(0) include embox.arch.ppc.kernel.interrupt
	@Runlevel(0) include embox.arch.ppc.kernel.arch
	@Runlevel(0) include embox.arch.system(core_freq=333000000)

	include embox.kernel.spinlock(spin_debug=false)
	@Runlevel(0) include embox.kernel.stack(stack_size=0x8000)
	@Runlevel(1) include embox.drivers.serial.i8250(baud_rate=115200)
	include embox.driver.serial.fsnode_none
	@Runlevel(1) include embox.drivers.diag.diag(impl="embox__drivers__serial__i8250")
	@Runlevel(1) include embox.driver.interrupt.ppc_intc
	@Runlevel(1) include embox.driver.clock.ppc_clk
	@Runlevel(1) include embox.kernel.time.timer.sys_timer
	@Runlevel(1) include embox.kernel.timer.strategy.head_timer
	@Runlevel(1) include embox.kernel.irq
	@Runlevel(1) include embox.kernel.critical
	@Runlevel(1) include embox.kernel.time.timer.sleep

	@Runlevel(1) include embox.kernel.thread.core(thread_pool_size=32,thread_stack_size=0x8000)
	@Runlevel(1) include embox.kernel.sched.strategy.priority_based

	//@Runlevel(1) include embox.driver.serial.serial_port(baud_rate=115200)
	//@Runlevel(1) include embox.init.diag_index_desc
	@Runlevel(3) include embox.init.start_script
	//@Runlevel(2) include embox.cmds.shell.tish
	@Runlevel(2) include embox.cmd.shell

	include embox.cmds.sys.version
	include embox.cmd.sys.date

	include embox.cmds.help

	include embox.mem.heap.heap_bm
	include embox.mem.objalloc.pool_adapter
	include embox.util.LibUtil
	include embox.framework.LibFramework
	include embox.arch.ppc.libarch
	include embox.compat.libc.all
	include embox.compat.posix.termios

	@Runlevel(1) include embox.tests.critical.critical
	@Runlevel(1) include embox.test.hal.context_switch_test
	@Runlevel(1) include embox.tests.framework.mod.member.ops_test
	@Runlevel(1) include embox.tests.kernel.timer_test
	@Runlevel(1) include embox.tests.recursion.recursion
	@Runlevel(1) include embox.tests.posix.sleep_test
	@Runlevel(1) include embox.tests.stdio.printf_test
	@Runlevel(1) include embox.tests.stdlib.bsearch_test
	@Runlevel(1) include embox.tests.stdlib.qsort_test
	@Runlevel(1) include embox.tests.util.array_test
	@Runlevel(1) include embox.tests.util.bit_test
	@Runlevel(1) include embox.tests.util.slist_test
	@Runlevel(1) include embox.tests.math.math_test
	@Runlevel(1) include embox.tests.mem.pool_test
	@Runlevel(1) include embox.test.kernel.thread.thread_priority_test(threads_quantity=20)
	@Runlevel(1) include embox.test.stdlib.setjmp_test
	include embox.compat.posix.fs.getcwd //FIXME remove
}
