package genconfig

configuration conf {
	@Runlevel(0) include embox.arch.arm.cortexa8.bundle
	@Runlevel(0) include embox.arch.system(core_freq=48054841)
	@Runlevel(0) include ti816x.platform_shutdown

	@Runlevel(0) include embox.kernel.stack(stack_size=0x4000)
	@Runlevel(1) include embox.driver.serial.ns16550(base_addr=0x48024000)
	@Runlevel(1) include embox.drivers.diag.diag(impl="embox__driver__serial__ns16550")
	@Runlevel(1) include embox.driver.interrupt.omap3_intc
	@Runlevel(1) include embox.driver.clock.ti8168_clk
	@Runlevel(1) include embox.kernel.time.timer.sys_timer
	@Runlevel(1) include embox.driver.net.ti816x
	@Runlevel(1) include embox.drivers.net.loopback
	@Runlevel(2) include embox.fs.driver.initfs.initfs

	@Runlevel(1) include embox.kernel.timer.strategy.head_timer
	@Runlevel(1) include embox.kernel.irq
	@Runlevel(1) include embox.kernel.critical
	@Runlevel(1) include embox.kernel.time.timer.sleep

	@Runlevel(1) include embox.kernel.task.multi
	@Runlevel(1) include embox.kernel.thread.core(thread_pool_size=512, thread_stack_size=0x4000)
	@Runlevel(1) include embox.kernel.sched.strategy.priority_based

	@Runlevel(1) include embox.driver.pci_chip.ti81xx
	@Runlevel(1) include embox.driver.pci_bios(pci_space_base=0x20000000, pci_space_size=0x10000000,pci_window_size=0x800000)
	@Runlevel(2) include embox.drivers.pci.pci(bus_n_to_scan=2)
	@Runlevel(2) include embox.driver.usb.hc.ti81xx
	@Runlevel(2) include embox.driver.usb.class.hid
	@Runlevel(2) include embox.driver.usb.class.mass_storage
	@Runlevel(3) include embox.init.start_script
	@Runlevel(2) include embox.cmd.shell

	include embox.cmds.module.test
	include embox.cmds.help
	@Runlevel(2) include embox.cmds.hardware.lspci
	include embox.cmd.mem
	include embox.cmd.wmem
	include embox.cmd.input_test

	include embox.cmd.sys.date
	include embox.cmds.sys.export
	include embox.cmds.sys.version
	include embox.cmds.sys.shutdown

	include embox.cmds.proc.thread

	include embox.cmds.net.arp
	include embox.cmds.net.arping
	include embox.cmds.net.ifconfig
	include embox.cmds.net.route
	include embox.cmds.net.ping
	include embox.cmds.net.telnetd
	include embox.cmd.net.speedtest

	include embox.cmds.fs.cat
	include embox.cmds.fs.echo
	include embox.cmds.fs.ls

	include embox.cmd.user.who
	include embox.cmd.user.whoami
	include embox.cmds.user.login
	include embox.cmd.user.su
	include embox.cmd.smac_adm

	include embox.mem.objalloc.pool_adapter
	include embox.mem.heap.heap_bm
	include embox.mem.heap_afterfree_random

	include embox.framework.LibFramework
	include embox.util.LibUtil
	include embox.arch.arm.libarch
	include embox.compat.libc.stdio.print(support_floating=0)
	include embox.compat.libc.all

	include embox.net.dev
	include embox.net.skbuff(amount_skb=1000,
			amount_skb_data=1000,data_size=1514,data_align=64,data_padto=64,ip_align=true,
			amount_skb_extra=256,extra_size=16,extra_align=64,extra_padto=64)
	include embox.net.core
	include embox.net.l0.net_entry
	include embox.net.l2.ethernet
	include embox.net.l3.arp
	include embox.net.socket.af_inet
	include embox.net.l3.ipv4.ipv4
	include embox.net.l3.icmpv4
	include embox.net.l4.udp
	include embox.net.l4.tcp
	include embox.net.socket.udp_sock
	include embox.net.socket.tcp_sock
	include embox.net.socket.raw_sock
	include embox.net.lib.dns(nameserver="192.168.0.1")
	include embox.tests.net.socket_test(family=2,type=1,proto=0) /* AF_INET, SOCK_STREAM, default */
	include embox.tests.net.inet_socket_test(type=1,proto=0) /* SOCK_STREAM, default */
	include embox.tests.net.inet_dgram_socket_test(proto=0) /* default */
	include embox.tests.net.inet_stream_socket_test(proto=0) /* default */

	@Runlevel(1) include embox.test.kernel.irq_test(irq_nr=23,outer_irq_nr=23,inner_irq_nr=24,forced_irq_clear=true)
	@Runlevel(1) include embox.tests.critical.critical
	@Runlevel(1) include embox.tests.framework.mod.member.ops_test
	@Runlevel(1) include embox.tests.kernel.timer_test
	@Runlevel(1) include embox.tests.recursion.recursion
	@Runlevel(1) include embox.tests.posix.sleep_test
	@Runlevel(1) include embox.tests.stdlib.bsearch_test
	@Runlevel(1) include embox.tests.stdlib.qsort_test
	@Runlevel(1) include embox.tests.util.array_test
	@Runlevel(1) include embox.tests.util.bit_test
	@Runlevel(1) include embox.tests.util.slist_test
	@Runlevel(1) include embox.tests.mem.pool_test
	include embox.kernel.time.timer.sys_timer(timer_quantity=512) // each sleep thread requires a timer
	@Runlevel(1) include embox.test.kernel.thread.thread_priority_test
	@Runlevel(1) include embox.test.stdlib.setjmp_test
	@Runlevel(1) include embox.tests.posix.environ_test

	include embox.kernel.task.resource.security(security_size=32)
	@Runlevel(2) include embox.security.smac.smac
}
