
package genconfig

configuration conf {
	@Runlevel(2) include embox.arch.x86.kernel.arch
	@Runlevel(2) include embox.arch.x86.kernel.locore
	@Runlevel(2) include embox.arch.x86.kernel.context
	@Runlevel(2) include embox.arch.x86.kernel.interrupt
	// include embox.arch.x86.cpu_counter_x86

	@Runlevel(2) include embox.drivers.interrupt.i8259
	@Runlevel(2) include embox.drivers.clock.pit
	/*@Runlevel(2) include embox.drivers.clock.tsc*/


	@Runlevel(1) include embox.kernel.time.timer.sys_timer
	@Runlevel(1) include embox.kernel.time.kernel_time
	@Runlevel(2) include embox.kernel.sched.strategy.priority_based
	@Runlevel(2) include embox.kernel.time.timer.sleep
	@Runlevel(2) include embox.kernel.time.timer.strategy.list_timer
	@Runlevel(2) include embox.kernel.time.timekeeper
	@Runlevel(2) include embox.kernel.irq
	@Runlevel(2) include embox.kernel.critical
	@Runlevel(2) include embox.kernel.task.multi
	include embox.kernel.thread.signal.sigstate
	include embox.kernel.thread.signal.siginfoq

	@Runlevel(2) include embox.mem.objalloc.pool_adapter
	@Runlevel(2) include embox.mem.heap.static_heap(heap_size=16777216)
	@Runlevel(2) include embox.mem.heap.heap_bm(heap_size=8388608)
	@Runlevel(2) include embox.mem.pagealloc.bitmask


	@Runlevel(2) include embox.drivers.tty.tty
	@Runlevel(2) include embox.drivers.tty.vt.vterm
	@Runlevel(2) include embox.drivers.input.keyboard.keyboard
	@Runlevel(2) include embox.driver.virtual.fb_device
	@Runlevel(2) include embox.drivers.virtual.null
	@Runlevel(2) include embox.drivers.virtual.zero
	@Runlevel(2) include embox.driver.console.vc.vc

	@Runlevel(2) include embox.drivers.diag.diag(impl="embox__drivers__console__vc__vga")



	/*enable back tracing for panic (asserts)*/
	@Runlevel(2) include embox.arch.x86.lib.debug.stackframe
	@Runlevel(2) include embox.lib.debug.whereami(max_rows=13, max_depth=64, row_sz=80)


	/*@Runlevel(2) include embox.profiler.tracing.tracing*/
	@Runlevel(2) include embox.drivers.net.loopback
	@Runlevel(2) include embox.driver.net.ne2k_pci

	/* VirtualBox Network Adapter */
	@Runlevel(2) include embox.drivers.net.virtio

	@Runlevel(2) include embox.fs.driver.initfs.initfs
	@Runlevel(2) include embox.fs.rootfs
	@Runlevel(2) include embox.fs.driver.devfs.devfs
	@Runlevel(1) include embox.drivers.block_dev.ide.ide

	@Runlevel(1) include embox.tests.critical.critical
	@Runlevel(1) include embox.tests.framework.mod.member.ops_test
	@Runlevel(1) include embox.tests.kernel.timer_test
	@Runlevel(1) include embox.tests.recursion.recursion
	@Runlevel(1) include embox.tests.posix.sleep_test
	@Runlevel(1) include embox.tests.stdlib.bsearch_test
	@Runlevel(1) include embox.tests.stdlib.qsort_test
	@Runlevel(1) include embox.tests.util.array_test
	@Runlevel(1) include embox.tests.util.bit_test
	@Runlevel(1) include embox.tests.util.slist_test
	@Runlevel(1) include embox.tests.util.tree_test

	@Runlevel(2) include embox.cmds.shell.tish
	@Runlevel(3) include embox.init.start_script(shell_name="tish",tty_dev="vc",shell_start=1)
	include embox.cmds.net.arp
	include embox.cmds.net.arping
	include embox.cmds.net.ifconfig
	include embox.cmds.net.ping
	include embox.cmds.net.route
	include embox.cmds.net.tftp
	include embox.cmds.net.nslookup
	include embox.cmds.net.netstat
	include embox.cmds.net.telnetd
	include embox.cmds.net.httpd.httpd
	include embox.cmds.net.iptables
	include embox.cmds.net.ftp
	include embox.cmds.net.sftp

	include embox.cmds.fs.rm
	include embox.cmds.fs.cat
	include embox.cmds.fs.more
	include embox.cmds.fs.ls
	include embox.cmds.fs.echo
	include embox.cmds.fs.touch
	include embox.cmds.fs.mkdir
	include embox.cmds.fs.cp

	// include embox.cmd.cpuinfo

	include embox.cmds.man
	include embox.cmds.help
	include embox.cmds.^module.lsmod
	include embox.cmds.^module.test
	include embox.cmd.example

	include embox.cmds.hardware.lspci
	include embox.cmd.mem
	include embox.cmd.wmem

	include embox.cmds.sys.version
	include embox.cmd.sys.date

	include embox.cmd.proc.kill
	include embox.cmds.proc.nice
	include embox.cmds.proc.renice
	include embox.cmd.proc.ps

	include embox.cmd.user.who
	include embox.cmd.user.whoami

	@Runlevel(2) include embox.net.core
	@Runlevel(2) include embox.net.skbuff(amount_skb=4000,
			amount_skb_data=4000,data_size=1514,data_align=1,data_padto=1,ip_align=false,
			amount_skb_extra=128,extra_size=10,extra_align=1,extra_padto=1)
	@Runlevel(2) include embox.net.socket.socket
	@Runlevel(2) include embox.net.dev
	@Runlevel(2) include embox.net.socket.af_inet
	@Runlevel(2) include embox.net.l3.ipv4.ipv4
	@Runlevel(2) include embox.net.l3.arp
	@Runlevel(2) include embox.net.l3.icmpv4
	@Runlevel(2) include embox.net.l4.udp
	@Runlevel(2) include embox.net.l4.tcp
	@Runlevel(2) include embox.net.socket.udp_sock
	@Runlevel(2) include embox.net.socket.tcp_sock
	@Runlevel(2) include embox.net.socket.raw_sock
	@Runlevel(2) include embox.net.l0.net_entry


	@Runlevel(2) include embox.util.LibUtil
	@Runlevel(2) include embox.framework.LibFramework
	@Runlevel(2) include embox.arch.x86.lib.libarch
	@Runlevel(2) include embox.compat.posix.LibPosix
	@Runlevel(2) include embox.compat.posix.fs.file
	@Runlevel(2) include embox.compat.libc.all

	@Runlevel(1) include embox.test.mmu_core
	include embox.arch.x86.mmu
	include embox.arch.x86.test.testtrap
}
