
package genconfig

configuration conf {
	@Runlevel(2) include embox.arch.sparc.kernel.arch
	@Runlevel(2) include embox.arch.sparc.kernel.locore
	@Runlevel(2) include embox.arch.sparc.kernel.context
	@Runlevel(2) include embox.arch.sparc.kernel.interrupt
	@Runlevel(2) include embox.arch.system(core_freq=50000000)

	//@Runlevel(2) include embox.drivers.diag.diag.apbuart(baud_rate=38400)
	@Runlevel(2) include embox.drivers.diag.diag(impl="embox__driver__serial__apbuart")

	@Runlevel(2) include embox.driver.interrupt.irqmp
	@Runlevel(2) include embox.driver.clock.gptimer
	@Runlevel(2) include embox.driver.ambapp
	@Runlevel(2) include embox.driver.serial.apbuart(baud_rate=38400)

	/*
	@Runlevel(2) include embox.driver.net.greth
	@Runlevel(2) include embox.net.socket.af_inet
	@Runlevel(2) include embox.net.socket.udp_sock
	*/

	@Runlevel(1) include embox.kernel.time.timer.sys_timer
	@Runlevel(1) include embox.kernel.time.kernel_time
	@Runlevel(2) include embox.kernel.time.timer.strategy.list_timer
	@Runlevel(2) include embox.kernel.time.timer.sleep
	@Runlevel(2) include embox.kernel.irq
	@Runlevel(2) include embox.kernel.critical
	@Runlevel(2) include embox.kernel.task.multi
	@Runlevel(2) include embox.kernel.sched.strategy.priority_based

	@Runlevel(2) include embox.mem.pagealloc.bitmask
	@Runlevel(2) include embox.mem.heap.heap_bm
	@Runlevel(2) include embox.mem.objalloc.pool_adapter

	@Runlevel(2) include embox.fs.driver.initfs.initfs
	@Runlevel(2) include embox.fs.rootfs

	@Runlevel(1) include embox.test.kernel.thread.thread_test
	@Runlevel(1) include embox.test.kernel.irq_test
	@Runlevel(1) include embox.tests.posix.sleep_test
	@Runlevel(1) include embox.tests.framework.mod.member.ops_test
	@Runlevel(1) include embox.test.hal.ipl_test
	@Runlevel(1) include embox.tests.util.bit_test
	@Runlevel(1) include embox.tests.util.slist_test
	@Runlevel(1) include embox.tests.util.tree_test
	@Runlevel(1) include embox.tests.util.hashtable_test
	@Runlevel(1) include embox.tests.util.array_test
	@Runlevel(1) include embox.tests.stdlib.bsearch_test
	@Runlevel(1) include embox.tests.stdlib.qsort_test
	@Runlevel(1) include embox.tests.recursion.recursion
	@Runlevel(1) include embox.tests.math.math_test

	@Runlevel(2) include embox.cmd.shell
	@Runlevel(3) include embox.init.start_script
	include embox.cmds.help
	include embox.cmds.^module.lsmod
	include embox.cmd.lspnp
	include embox.cmds.man
	include embox.cmd.mem
	include embox.cmd.wmem
	include embox.cmds.^module.test
	include embox.cmds.fs.echo
	include embox.cmds.fs.ls
	include embox.cmds.fs.mkfs
	include embox.cmds.fs.mount
	include embox.cmds.fs.touch
	include embox.cmds.fs.mkdir
	include embox.cmds.fs.cat
	include embox.cmds.fs.rm


	/*include embox.compat.posix.fileTasks*/
	include embox.util.LibUtil
	include embox.framework.LibFramework
	include embox.arch.sparc.libarch
	include embox.compat.libc.all
	include embox.compat.posix.fs.getcwd //FIXME remove
}
